* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    text-align: left;
    font-size: 3rem;
    text-transform: uppercase;
}
header a {
    color: currentColor;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px #888 solid;
    transition: all 300ms;
}
header a:hover {
    background: #000;
    color: #fff;
}
#calendar-container {
    height: 100%;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 60px);
    grid-gap: 2px;
    padding-right: 1rem;
}
.calendar-title {
    text-align: center;
}
.timeslot {
    text-align: center;
}
p:hover {
    cursor:pointer;
}